In [1]:
import os
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt

In [2]:
os.getcwd()

'c:\\Users\\jaayg\\OneDrive\\Escritorio\\data_project\\songs_population\\notebooks'

In [3]:
os.chdir('..')

In [4]:
os.chdir('data')

In [5]:
os.chdir('raw')

In [6]:
os.chdir('music_dataset')

In [7]:
os.getcwd()

'c:\\Users\\jaayg\\OneDrive\\Escritorio\\data_project\\songs_population\\data\\raw\\music_dataset'

In [8]:
df_songs = pd.read_csv('music_genre.csv')

In [11]:
df_songs.head()

,instance_id,artist_name,track_name,popularity,acousticness,danceability,duration_ms,energy,instrumentalness,key,liveness,loudness,mode,speechiness,tempo,obtained_date,valence,music_genre
0,32894.0,Röyksopp,Röyksopp's Night Out,27.0,0.00468,0.652,-1.0,0.941,0.79200,A#,0.115,-5.201,Minor,0.0748,100.889,4-Apr,0.759,Electronic
1,46652.0,Thievery Corporation,The Shining Path,31.0,0.01270,0.622,218293.0,0.890,0.95000,D,0.124,-7.043,Minor,0.0300,115.00200000000001,4-Apr,0.531,Electronic
2,30097.0,Dillon Francis,Hurricane,28.0,0.00306,0.620,215613.0,0.755,0.01180,G#,0.534,-4.617,Major,0.0345,127.994,4-Apr,0.333,Electronic
3,62177.0,Dubloadz,Nitro,34.0,0.02540,0.774,166875.0,0.700,0.00253,C#,0.157,-4.498,Major,0.2390,128.014,4-Apr,0.270,Electronic
4,24907.0,What So Not,Divide & Conquer,32.0,0.00465,0.638,222369.0,0.587,0.90900,F#,0.157,-6.266,Major,0.0413,145.036,4-Apr,0.323,Electronic

Observamos que los siguientes datos tienen 5 filas 'vacias', Pero todos estan casi completos

In [12]:
df_songs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50005 entries, 0 to 50004
Data columns (total 18 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   instance_id       50000 non-null  float64
 1   artist_name       50000 non-null  object
 2   track_name        50000 non-null  object
 3   popularity        50000 non-null  float64
 4   acousticness      50000 non-null  float64
 5   danceability      50000 non-null  float64
 6   duration_ms       50000 non-null  float64
 7   energy            50000 non-null  float64
 8   instrumentalness  50000 non-null  float64
 9   key               50000 non-null  object
 10  liveness          50000 non-null  float64
 11  loudness          50000 non-null  float64
 12  mode              50000 non-null  object
 13  speechiness       50000 non-null  float64
 14  tempo             50000 non-null  object
 15  obtained_date     50000 non-null  object
 16  valence           50000 non-null  float64
 17  music_genre       50000 non-null  object
dtypes: float64(11), object(7)
memory usage: 6.9+ MB

In [18]:
df_songs['key'].unique()

array(['A#', 'D', 'G#', 'C#', 'F#', 'B', 'G', 'F', 'A', 'C', 'E', 'D#',
       nan], dtype=object)

In [16]:
df_songs[['tempo', 'obtained_date','mode']]

                    tempo obtained_date   mode
0                 100.889         4-Apr  Minor
1      115.00200000000001         4-Apr  Minor
2                 127.994         4-Apr  Major
3                 128.014         4-Apr  Major
4                 145.036         4-Apr  Major
...                   ...           ...    ...
50000   98.02799999999999         4-Apr  Major
50001  122.04299999999999         4-Apr  Major
50002             131.079         4-Apr  Major
50003   75.88600000000001         4-Apr  Minor
50004   99.20100000000001         4-Apr  Minor

[50005 rows x 3 columns]

Tempo vemos que es una variable de tipo string que queremos pasar a numerica

In [21]:
df_songs['tempo'] = pd.to_numeric(df_songs['tempo'], errors='coerce').round(3)

In [22]:
df_songs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50005 entries, 0 to 50004
Data columns (total 18 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   instance_id       50000 non-null  float64
 1   artist_name       50000 non-null  object
 2   track_name        50000 non-null  object
 3   popularity        50000 non-null  float64
 4   acousticness      50000 non-null  float64
 5   danceability      50000 non-null  float64
 6   duration_ms       50000 non-null  float64
 7   energy            50000 non-null  float64
 8   instrumentalness  50000 non-null  float64
 9   key               50000 non-null  object
 10  liveness          50000 non-null  float64
 11  loudness          50000 non-null  float64
 12  mode              50000 non-null  object
 13  speechiness       50000 non-null  float64
 14  tempo             45020 non-null  float64
 15  obtained_date     50000 non-null  object
 16  valence           50000 non-null  float64
 17  music_genre       50000 non-null  object
dtypes: float64(12), object(6)
memory usage: 6.9+ MB

Redefinimos la variable tempo, pero ahora hay valores faltantes que hay que evaluar